@import "../../../sass/variables";
@import "../../../sass/mixins";

.tracker {
  display: inline-block;
  background-color: white;
  border-radius: 1rem;
  position: relative;
  z-index: 30;
  &__display {
    display: flex;
    justify-content: left;
    align-items: center;
    @include respond(phone) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__display-title {
    margin: 3rem 0;
    padding: 0 5rem;

    @include respond(phone) {
      padding: 2rem 0;
      width: 50%;
      margin: 0;
    }

    &:not(:first-child) {
      border-left: 0.1rem solid rgba($clr-neutral-2, 0.4);

      @include respond(phone) {
        border-left: none;
        border-top: 0.1rem solid rgba($clr-neutral-2, 0.4);
      }
    }

    &:not(:last-child) {
      padding-right: 5rem;
      @include respond(phone) {
        padding-right: 0;
      }
    }
  }

  &__display-backed-number {
    margin: 0;
  }

  &__display-backed-description {
    margin: 0.5rem 0 0 0;
    color: $clr-neutral-2;
    font-size: 1.4rem;
  }

  &__progress-bar {
    display: block;
    height: 1rem;
    margin: 0 auto;
    width: 90%;
    background-color: whitesmoke;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    margin-bottom: 3rem;
  }

  &__progress-percentage {
    height: 100%;
    background-color: $clr-primary-1;
    position: absolute;
    text-align: end;
  }
}
