@import "../../../sass/variables";
@import "../../../sass/mixins";

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($clr-neutral-2, 0.6);
  z-index: 50;

  &__content {
    width: 40%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;

    @include respond(phone) {
      width: 90%;
    }
  }

  &__close-icon {
    position: absolute;
    display: inline-block;
    top: 3rem;
    right: 2rem;
    height: 1.5rem;
    width: 1.5rem;
    background-image: url(../../images/icon-close-modal.svg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &__title {
    font-size: 2.4rem;
    padding: 0 1rem;
  }

  &__description {
    font-size: 1.5rem;
    color: $clr-neutral-2;
    padding: 0 1rem;
  }

  &__finish {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
    padding: 4rem 0;
    border-radius: 1rem;
    width: 40%;
    & .btn {
      display: inline-block;
      margin-bottom: 1rem;
    }
  }

  &__finish-title {
    font-size: 3rem;
  }

  &__finish-description {
    font-size: 2.1rem;
    color: $clr-neutral-2;
    margin: 2rem 3rem 5rem 3rem;
  }
}
