@import "../../../sass/variables";
@import "../../../sass/mixins";

.bookmark {
  text-decoration: none;
  color: $clr-neutral-2;
  background-color: rgb(237, 228, 228);
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-right: 3rem;
  border-radius: 5rem;

  @include respond(phone) {
    display: inline-block;
    padding: 0;
  }

  &--selected {
    color: $clr-primary-1;
  }

  &__icon {
    display: inline-block;
    border-radius: 50%;

    &--selected {
      circle {
        fill: $clr-primary-2;
      }
      path {
        fill: white;
      }
    }
  }

  &__tag {
    display: inline-block;
    @include respond(phone) {
      display: none;
    }
  }
}
